<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Product Admin Interface</h1>
    <p><a href="/add">Add Product</a></p>
    <ol>
      <li>

        <% products.forEach(product => { %>
       <div><%= product.name %>></div>
       <div><%= product.descirption %>></div>
       <div><%= product.price %></div>
       
       %> <% }) %>
      </li>
    </ol>
  </body>
</html>
